html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  color: #777;
  text-align: center;
}

#qr img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.container h1 {
  font-size: 30px;
  font-weight: 100;
  color: #333;
}

.container div {
  margin-bottom: 5px;
}

.button {
  margin-top: 10px;
  background-color: cornflowerblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_green {
  background-color: #4CAF50;
}

input[type=number] {
  width: 80%;
  height: 100px;
  padding: 5px 5px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: right;
  font-size: 80px;
}

.validation {
  height: 128px;
  width: 100%;
}

.result {
  display: inline-block;
  width: 128px;
  height: 128px;
}

#message {
  color: red;
}